* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: pink;
}

#title {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.recipe-list {
    font-size: 20px;
    font-weight: bold;
}

.recipe-list .item{
    color: crimson;
}